[submodule "external/whipsnake-micropython"]
	path = external/whipsnake-micropython
	url = https://github.com/WhipCompiler/whipsnake-micropython.git
[submodule "external/whipsnake-circuitpython"]
	path = external/whipsnake-circuitpython
	url = https://github.com/WhipCompiler/whipsnake-circuitpython.git
