[submodule "external/pymcu-micropython"]
	path = external/pymcu-micropython
	url = https://github.com/WhipCompiler/pymcu-micropython.git
[submodule "external/pymcu-circuitpython"]
	path = external/pymcu-circuitpython
	url = https://github.com/WhipCompiler/pymcu-circuitpython.git
